
# The botbot Makefile tries to find these executables using 'command -v',
# which I(zenhack) think is a bashism; it doesn't seem to be available
# in alpine in any case. Use 'which' instead:
NPM_BIN := $(shell which npm)
LESS_BIN := $(shell which lessc)
JSHINT_BIN := $(shell which jshint)
WATCHMENDO_BIN := $(shell which watchmendo)

# vim: set ft=make :
